/*  App block   */
.row.main-block {
    background-color: #fff;

    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;

    .app-block {
        padding: 0;
    }
}



/*  Header block    */
.info-title {
    margin: 0 5% 10%;
}



/*  Form block  */
.app-form {
    form {
        display: flex;
        justify-content: space-around;
    }
}



/*  Weather block   */

.app-info {
    margin-top: 10%;
}


/*  *** Media   *** */

@media screen and (min-width: 1300px) {
    .row.main-block {
        width: 25%;
        padding: 2% 2% 1%;
    }
}

@media screen and (max-width: 420px) {
    .row.main-block {
        width: 45%;
        padding: 5% 5% 2%;
    }
}
